
@{
    ViewBag.Title = "GetEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetEmployee</h2>


<table class="table">
    <tr>
        <td>
            First Name:
        </td>
        <td>
            @ViewBag.FirstName
        </td>
    </tr>
    <tr>
        <td>
            Last Name:
        </td>
        <td>
            @ViewBag.LastName
        </td>
    </tr>
    <tr>
        <td>
            Salary
        </td>
        <td>
            @ViewBag.Salary
        </td>
    </tr>
</table>
