
@{
    ViewBag.Title = "HelloRudy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello Rudy! Hope training is going good! Welcome to world of MVC!"</h2>

<h3>
    - This training is by Vishal Avalani
    - <a href="http://www.vishalavalani.com">My personal website</a>
</h3>

<hr />
<h4>Training Contents</h4>
<hr />
<ul>
    <li>Why ASP.NET Web Forms?</li>
    <li>
        ASP.NET MVC vs WebForms
    </li>
    <li>
        Problems with Asp.Net Web Forms
    </li>
</ul>
