
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Know me more!</h2>

<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">



        <article id="post-18" class="post-18 page type-page status-publish hentry">
            <header class="entry-header">
                <h1 class="entry-title"><font><font class="">More about me</font></font></h1>
            </header><!-- .entry-header -->

            <div class="entry-content">
                <p><img src="http://ruddymeri.com/wp-content/uploads/2016/03/Ruddy-Meri_avatar_grayscale-150x150.jpg" alt="Ruddy Meri_avatar_grayscale" width="150" height="150" class="alignnone size-thumbnail wp-image-52" srcset="http://ruddymeri.com/wp-content/uploads/2016/03/Ruddy-Meri_avatar_grayscale-150x150.jpg 150w, http://ruddymeri.com/wp-content/uploads/2016/03/Ruddy-Meri_avatar_grayscale.jpg 300w" sizes="(max-width: 150px) 100vw, 150px"></p>
                <p><font><font>I have Ruddy, I'm 33, I develop software for 14 years. </font><font>Born in Guadeloupe, I currently live in Paris.</font></font></p>
                <h2><font><font>The origins of evil</font></font></h2>
                <p><b><font><font>1990</font></font></b><font><font> First contact with the world of computing. </font><font>With my CM1, I attended the presentation of a </font></font><a href="https://fr.wikipedia.org/wiki/Macintosh_II"><font><font>Macintosh II</font></font></a><font><font> . </font><font>I took the opportunity to talk with the engineer to control the machine. </font><font>He was categorical:</font></font></p>
                <blockquote><p><font><font>It will never be possible to program a computer to perform tasks instead of a man ...</font></font></p></blockquote>
                <p><b><font><font>1991</font></font></b><font><font> First video game console (the </font></font><a href="https://fr.wikipedia.org/wiki/Master_System"><font><font>Master System II</font></font></a><font><font> ). </font><font>I quickly wanted to develop my own games. </font><font>I borrowed every book I could find about programming but I had to wait a few years and my first computer before developing my first web site and my first Windows applications.</font></font></p>
                <h2><font><font>My training, my journey</font></font></h2>
                <p><b><font><font>2004</font></font></b><font><font> I get my senior technician certificate in computer management (application developer specialty)</font></font></p>
                <p><b><font><font>2005/2006</font></font></b><font><font> Become Microsoft Certified Technology Specialist and I joined the SSII Datasurf (since bought by Alteca). </font><font>I worked primarily on projects involving Microsoft technologies: C #, Asp.Net, SQL Server, SSIS.</font></font></p>
                <p><b><font><font>2010</font></font></b><font><font> I hired at Solocal Group (Ex Yellow Pages) as a design engineer and development. </font><font>I participated in the redesign of the information division classifieds system and I consolidated my skills on SSIS and SQL Server.</font></font></p>
                <p><b><font><font>2011</font></font></b><font><font> I launched into entrepreneurship and I become a consultant in information systems and software.</font></font></p>
                <h2><font><font>Why this blog?</font></font></h2>
                <p><font><font>I do a lot of sleep and I continue to learn every day thanks to the gifted developer blogs to share their knowledge. </font><font>On my blog, I will discuss my plans around Microsoft technologies, I will share the scripts that I develop to automate my tasks and I will present my findings. </font><font>Obviously there are hundreds of sites dealing with the same subjects and do it very well but it does not stop me from </font></font><a href="http://www.colibris-lemouvement.org/colibris/la-legende-du-colibri"><font><font>doing my part</font></font></a><font><font> .</font></font></p>
            </div><!-- .entry-content -->

            <footer class="entry-footer"></footer><!-- .entry-footer -->
        </article><!-- #post-## -->




    </main><!-- #main -->
</div>